/* footer.css */

.footer-nav {
    display: flex;
    justify-content: center; /* 내부 요소들을 수평으로 가운데 정렬 */
    align-items: center; /* 내부 요소들을 수직으로 가운데 정렬 */
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-nav a {
    margin: 0 20px; /* 각 링크 사이의 간격 설정 */
    display: flex; /* 내부 요소들을 수평으로 정렬하기 위해 flex 사용 */
    align-items: center; /* 내부 요소들을 수직으로 가운데 정렬 */
    text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
    color: black; /* 링크 텍스트 색상 */
}

.footer-nav a img {
    max-width: 50px; /* 이미지 최대 너비 설정 */
    height: auto; /* 이미지 높이 자동 조정 */
    margin-right: 10px; /* 이미지와 텍스트 사이 여백 */
}
