/* 기본 스타일 초기화 */
body, h1, h2, h3, p, div, header, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 레이아웃 */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.form-container {
    width: 95%; /* 화면 너비의 95%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    min-height: 600px; /* 최소 높이 설정 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto; /* 가운데 정렬 및 상하 간격 추가 */
}

.container {
    width: 95%; /* 화면 너비의 95%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: auto; /* 중앙 정렬 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px; /* 상단 간격 추가 */
}

.form-title {
    margin-bottom: 15px; /* 입력 필드 아래 여백 */
    width: 100%; /* 부모 요소인 .form-container 너비에 맞춤 */
}

.form-content {
    margin-bottom: 50px; /* 입력 필드 아래 여백 */
    width: 100%; /* 부모 요소인 .form-container 너비에 맞춤 */
    height: 100%; /* 100% 높이로 설정 */
    min-height: 400px; /* 최소 높이 설정 */
}

.btn-primary {
    width: 100%; /* 버튼을 폼 너비에 맞추기 */
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.inner h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.container a.btn {
    margin-top: 10px;
}

/* 페이지 하단 버튼 그룹 스타일 */
.container.page-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; /* 맨 오른쪽으로 정렬 */
}

/* 글쓰기 버튼 스타일 */


.btn-primary.btn-lg {
    background-color: #b5b8bb; /* 파란색 배경 */
    border-color: #b5b8bb;
    color: #fff; /* 흰색 텍스트 */
    margin-left: 10px; /* 왼쪽 여백 */
    padding: 6px 12px; /* 버튼 내부 여백 */
    font-size: 14px; /* 버튼 텍스트 크기 */
}

.btn-primary.btn-lg:hover {
    background-color: #8c9093; /* 호버 시 더 어두운 회색 */
    border-color: #8c9093;
    color: #fff; /* 호버 시 버튼 텍스트 색상 유지 */
}

/* 페이지 링크 버튼 스타일 */
.page-link {
    color: #b5b8bb;
    text-decoration: none;
}

.page-link:hover {
    text-decoration: underline;
}
